$main-color-1: #07387F;
$main-color-2: #00AEFF;
$main-color-3: #FF0044;
$main-color-4: #7ED321;
$main-color-5: #EA6400;
$main-color-6: #1494CC;
$main-color-7: #EB5B4C;
$main-color-8: #BD00EB;
$main-color-9: #FF0082;
$main-color-10: #00C000;

$day-list : (
    (mon, $main-color-1, $main-color-2, $main-color-3, $main-color-4, $main-color-5,
    $main-color-6, $main-color-7, $main-color-8, $main-color-9, $main-color-10 ),
    (tue, $main-color-1, $main-color-2, $main-color-3, $main-color-4, $main-color-5,
    $main-color-6, $main-color-7, $main-color-8, $main-color-9, $main-color-10 ),
    (wed, $main-color-1, $main-color-2, $main-color-3, $main-color-4, $main-color-5,
    $main-color-6, $main-color-7, $main-color-8, $main-color-9, $main-color-10 ),
    (thu, $main-color-1, $main-color-2, $main-color-3, $main-color-4, $main-color-5,
    $main-color-6, $main-color-7, $main-color-8, $main-color-9, $main-color-10 ),
    (fri, $main-color-1, $main-color-2, $main-color-3, $main-color-4, $main-color-5,
    $main-color-6, $main-color-7, $main-color-8, $main-color-9, $main-color-10 ),
    (sat, $main-color-1, $main-color-2, $main-color-3, $main-color-4, $main-color-5,
    $main-color-6, $main-color-7, $main-color-8, $main-color-9, $main-color-10 ),
    (sun, $main-color-1, $main-color-2, $main-color-3, $main-color-4, $main-color-5,
    $main-color-6, $main-color-7, $main-color-8, $main-color-9, $main-color-10 ));

body {
  background-color: #fff;
  color: #000;
}

@each $day in $day-list {
  .#{nth($day, 1)} {
    @for $i from 1 through 10 {
      $myindex: $i + 1;
      //.item:nth-child(#{$i}n+1),
      .item-#{$i} {
        span {
          background-color: rgba(nth($day, $myindex), .8);
          box-shadow: 10px 0 0 rgba(nth($day, $myindex), .8),-10px 0 0 rgba(nth($day, $myindex), .8);
        }
      }
    }
  }
}
